<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">
	
	<insert id="insertBoard" parameterType="BoardDto">
		INSERT INTO board (title,content,writerName)
		VALUES (#{title},#{content},#{writerName})
		<selectKey keyProperty="boardId" resultType="int">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<select id="getBoardById" parameterType="int" resultType="BoardDto">
		SELECT	boardId
				,title
				,content
				,writerName
				,date
		FROM board
		WHERE boardId=#{boardId}
	</select>
	
	<delete id="deleteBoard" parameterType="int" >
		DELETE FROM board WHERE boardId=#{boardId}
	</delete>


	<update id="updateBoard" parameterType="BoardDto" >
		UPDATE board 
		SET title=#{title},content=#{content}
		WHERE boardId=#{boardId}
	</update>
	
	<select id="boardCount" parameterType="SearchPageDto" resultType="int">
		SELECT COUNT(boardId)
		FROM board
		WHERE boardId>0
		<include refid="search"></include>
	</select>
	
	<select id="getBoardPage" parameterType="SearchPageDto" resultType="BoardDto">
		SELECT 	boardId,
				title,
				content,
				writerName,
				date
		FROM board
		WHERE boardId>0
		<include refid="search"></include>
		ORDER BY boardId DESC
		LIMIT #{rowS},#{offset}
	</select>
	
	<sql id="search">
		<if test="feild != null">
			<if test="feild =='title'.toString()">AND title LIKE CONCAT('%',#{keyword},'%')</if>
			<if test="feild =='content'.toString()">AND content LIKE CONCAT('%',#{keyword},'%')</if>
			<if test="feild =='writerName'.toString()">AND writerName LIKE CONCAT('%',#{keyword},'%')</if>
		</if>
	</sql>
	
	<insert id="insertFile" parameterType="hashMap">
		INSERT INTO file(
			boardId,
			orgFileName,
			storedFileName,
			fileSize
		)VALUES(
				#{boardId},
				#{orgFileName},
				#{storedFileName},
				#{fileSize}
			)
	</insert>
	

	
</mapper>

